{% extends 'base.html' %}

{% block title %}Inicio APP{% endblock %}

{% block content %}
<h1>Bienvenido a nuestro proyecto</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas cumque quod consequatur magni porro quo labore cum, est vel aspernatur, enim ad amet minima, iure earum mollitia. Excepturi, praesentium?
    Vero saepe, reiciendis totam eius sapiente tempore quidem amet ipsa reprehenderit, id quasi distinctio animi, porro expedita aperiam accusamus soluta ducimus sit pariatur rerum ad assumenda. Iure neque suscipit odit!
    Illo quae maiores, accusantium et eum ex iure pariatur alias ut repellat, debitis delectus dignissimos hic eveniet dicta. Beatae reiciendis odit distinctio minima quam dolorem ullam rerum ex deleniti quas?
    Deserunt, fugiat odit! Voluptatem et quia molestiae nihil delectus eligendi fuga optio! Quisquam, dicta minus incidunt blanditiis minima corrupti sapiente molestias ducimus totam rerum reiciendis! Soluta aspernatur cum accusantium pariatur!
    Consequatur tempora officiis saepe numquam voluptate impedit reiciendis modi, voluptatum, vel doloremque amet nostrum pariatur, aliquid laboriosam? Earum ad quibusdam natus architecto at eaque veritatis quas amet? Debitis, vero nihil.
    Asperiores consequuntur odit incidunt ab quaerat. Maxime hic et, officia harum assumenda enim deleniti sunt magni perspiciatis. Nihil repellendus quibusdam neque eveniet excepturi cupiditate cum voluptas veniam, minima, reiciendis amet. 
    Quae sit quisquam ea maiores fuga necessitatibus totam eius, assumenda soluta quibusdam quam nulla facere ullam aliquam quos. Minus autem, facere sed dicta dolor eos itaque dolorem porro ipsam asperiores!
    Illo dolorum omnis consequuntur delectus blanditiis officia, consequatur ad deleniti adipisci facere magnam distinctio placeat illum modi! Id ea nesciunt nam, suscipit quis quia saepe ratione facilis odit quod sapiente!
    Aperiam, esse consequatur quod deleniti distinctio ad commodi sunt numquam! Accusantium, eligendi unde. Ad maxime, provident repellendus dolorum, dolore asperiores omnis est, doloremque repellat dolor iusto excepturi laborum accusantium ut.
    Delectus, error? Corporis cumque iure repellendus, sint enim dolorem dignissimos dolore accusamus harum odio mollitia ducimus aliquam. Earum maxime quo alias cumque suscipit! Aliquid molestiae, facere perferendis quibusdam modi placeat!
</p>
{% endblock %}