{% extends "base.html" %}
{% block title %}App1 v1{% endblock %}

{% block content %}
<h1>Vista 1 APP1</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt omnis accusantium tempora consequuntur aspernatur? Ad, voluptatem! Quos velit magni maxime doloremque nulla mollitia architecto explicabo! Blanditiis quia adipisci sapiente. Eveniet!
    Architecto minus incidunt obcaecati, aut nam, saepe esse sapiente veritatis et quae quam fuga consectetur veniam ut animi ipsum velit nisi, iure voluptatem! Sed dicta nostrum, non vel optio quidem!
    Cupiditate, quibusdam! Nostrum obcaecati odit officia deserunt esse. Fugiat delectus doloribus dolorum, nisi blanditiis consectetur velit tenetur, quidem eaque, soluta molestias iste tempora eos rem? Ipsa esse at adipisci cumque?
    Laboriosam corporis ex reprehenderit iusto facilis nisi pariatur qui est optio dolorem? Eaque perspiciatis possimus ipsam magnam molestiae iure deserunt recusandae iste porro pariatur quis, beatae ut nisi quibusdam voluptates.
    Earum tempore, accusamus rem ipsam sapiente porro fuga aperiam praesentium voluptatum incidunt, provident quia quasi ratione esse nisi! Voluptatum vitae distinctio accusamus quae animi deserunt quis voluptates dolore, sapiente minima.
</p>
{% endblock %}